openapi: 3.2.0
info:
  title: sms Conversions API
  description: The SMS API is a restful HTTP API that allows you to send text messages to mobile phones.
  version: v3
servers:
- url: https://api.bics.com/sms/v3
tags:
- name: Conversions
paths:
  /conversions:
    parameters: []
    post:
      description: Process SMS conversion info from customer. One of the fields is required, address or customerReference.
      operationId: Process SMS Conversion info
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionRequest'
            example: '{"conversionRequest":{"address":"32410300011"}}'
        required: true
      responses:
        '200':
          description: SMS conversion submitted
          content: {}
        '400':
          description: The request is not well formed.
          content: {}
        '403':
          description: 'Forbidden: this service cannot be used according to your API Key'
          content: {}
      tags:
      - Conversions
      summary: Process SMS conversion info
      x-summary-source: derived
components:
  schemas:
    ConversionRequest:
      type: object
      properties:
        address:
          type: string
          description: The b-number which has been converted to a customer.
          example: null
        customerReference:
          type: string
          description: Customer reference.
          example: null
      description: 'Either address or customerReference is required.

        '
      x-class-extra-annotation: '@com.fasterxml.jackson.annotation.JsonRootName("conversionRequest")'
      example: null
