openapi: 3.2.0
info:
  title: mynumbers Number API
  description: BICS MyNumbers API makes it easy to order ready to use Cloud Numbers (IBN), International Freephone Numbers (ITFS) and Global Mobile Numbers (GMN).
  version: v1
servers:
- url: https://api.bics.com/mynumbers-number/v1
- url: https://sandbox.api.bics.com/mynumbers-number/v1
tags:
- name: Number
  description: ''
paths:
  /numbers/addressReference:
    parameters: []
    delete:
      tags:
      - Number
      summary: Delete address reference linked to number(s)
      description: The method _/numbers/addressReference_. You can retrieve the current address linked to a number by calling the method /numbers/{number}. You can update the address by calling the method _/numbers/addressReferences._ You can retrieve a list of your addresses by calling the method _/addresses._ If the address is mandatory by country specifications, you are not allowed to delete the address.
      operationId: Delete address reference
      parameters: []
      responses:
        '200':
          description: Address references deleted for given numbers.
        '400':
          description: Bad request, An issue occurred while processing the input parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numberSpecificError'
              example: null
        '409':
          description: A previous task is still pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numberSpecificError'
              example: null
components:
  schemas:
    error:
      type: object
      properties:
        code:
          type: string
          description: Error code, the complete description can be found in API documentation
          example: EXXX
        description:
          type: string
          description: Description of the error, the complete description can be found in API documentation
          example: Description of the error that occurred.
        timestamp:
          type: string
          description: timestamp of error in UTC format
          format: date-time
          example: null
      example: null
    numberSpecificError:
      type: object
      allOf:
      - $ref: '#/components/schemas/error'
      - type: object
        properties:
          number:
            type: string
            example: Number to which error corresponds to.
          country:
            type: string
            example: Number and Origin Country code in ISO 3166-1 alpha-3 to which error corresponds to.
        example: null
      example: null
