openapi: 3.2.0
info:
  title: sms Conversionsinfos API
  description: The SMS API is a restful HTTP API that allows you to send text messages to mobile phones.
  version: v3
servers:
- url: https://api.bics.com/sms/v3
tags:
- name: Conversionsinfos
paths:
  /conversionsinfos:
    parameters: []
    post:
      description: 'Process an array of conversion info ids from customer.


        HTTP request should contain authorization bearer token with assigned ''conversion'' role'
      operationId: Process SMS Conversion infos
      parameters: []
      requestBody:
        description: List of customer references.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageIdsDTO'
            example: ''
        required: true
      responses:
        '200':
          description: '* Empty body, in case all conversion message ids were processed correctly


            * List of address_ids, which are not valid

            '
          content: {}
        '400':
          description: The request is not well formed
          content: {}
        '403':
          description: 'Forbidden: this service cannot be used according to your API Key'
          content: {}
      tags:
      - Conversionsinfos
      summary: Process SMS conversion infos
      x-summary-source: derived
components:
  schemas:
    MessageIdsDTO:
      required:
      - message_id
      type: object
      properties:
        message_id:
          type: array
          description: List of customer references.
          example: '["xxxx-xxxx-xxxx-xxxx-xxxx-xxxx","yyyy-yyyy-yyyy-yyyy-yyyy-yyyy","zzzz-zzzz-zzzz-zzzz-zzzz-zzzz"]'
          items:
            type: string
            description: Customer reference.
            example: null
          x-jsonproperty: message_id
        type:
          type: string
          description: The protocol used during sending of message(s) to be marked as converted
          example: null
      example: null
